<!--投稿詳細画面-->

<!--投稿詳細ページ-->

<%= notice %>

<%= form_with model:@book, local:true do |f| %>

  <p id ="notice">Book was successfully created.</p>

  <h4>Title:</h4><%= @book.title %>

  <h4>Body:</h4><%= @book.body %>

<% end %>

<a class="edit_<%= @book.id %>" href="/books/<%= @book.id %>/edit">Edit</a>
"|"
<a class="back" href="/books">Back</a>
